@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  width: 60px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
}

.smallSidebar {
  width: 0;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
}

.open {
  width: 60px;
}

.closed {
  width: 0;
}
